.error {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  color: #63f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  &__image {
    width: 50%;
  }
}
