.product {
  width: 100%;
  padding: 0 5%;
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
  }
  &__content {
    display: flex;
    &__skeleton {
      width: 25%;
      padding: 10px;
      animation: blinking 3s infinite;
      &__image {
        width: 300px;
        aspect-ratio: 1 / 1;
        background-color: grey;
      }
      &__name {
        width: 100%;
        height: 20px;
        margin-top: 5px;
        background-color: grey;
        margin-top: 5px;
      }
      &__category {
        width: 100%;
        height: 16px;
        background-color: grey;
        margin-top: 5px;
      }
      &__price {
        width: 100%;
        height: 6px;
        margin-top: 10px;
        background-color: grey;
      }
    }
    &__item {
      width: 25%;
      padding: 10px;
      &__image {
        width: 300px;
      }
      &__name {
        font-size: 20px;
        font-weight: bold;
        margin-top: 5px;
      }
      &__category {
        color: grey;
      }
      &__price {
        font-weight: bold;
      }
    }
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
