.navbar {
  display: flex;
  width: 100%;
  height: 20px;
  background-color: aqua;
  color: #000000;
  align-items: center;
  padding: 20px 5%;
}

.nav_left {
  flex: 1;
}

.nav_ul {
  display: flex;
}

.li {
  padding-right: 20px;
}
